body{
    display: flex;
    background: url("img/Paper-Boats-Rain-1920x1202.jpg") no-repeat ;
}
@font-face {
    font-family: "PG_IsadoraCyrPro-Regular";
    src: url(fonts/PG_IsadoraCyrPro-Regular.ttf);
}
h1{
    font-family: "PG_IsadoraCyrPro-Regular", serif;
    font-size: 70px;
    text-decoration: none;
    color: #ffc95b;
    text-shadow:
    -1px -1px 0 #0c0c0c,
    1px -1px 0 #0c0c0c,
    -1px 1px 0 #0c0c0c,
    1px 1px 0 #0c0c0c;
    margin-right: auto;
}

article{
    margin-top: auto;
    background-color: transparent;
    text-align: center;
    flex:  60%;
    order: 2;
}


nav {
    max-width: 190px;
    margin: 1%;
    padding: 10px;
    border-radius: 20px;
    position: static;
    background: transparent;
    flex:  12%;
    order: 1;
}
aside{
    height: 600px;
    margin: 1%;
    padding: 10px;
    border-radius: 20px;
    position: static;
    background: transparent;
    flex:  2%;
    order: 3;
}
#music{
    position: fixed; bottom: 0; left: 0;
}